.partners{
    background: #404149;
    padding: 100px 0 100px;
}
.partners__title{
    color: #FFFFFF;
    margin-bottom: 60px;
}
.partners__berksho{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}